<!DOCTYPE html>
<html ng-app="donezo">
<head lang="en">
    <meta charset="UTF-8">
    <title>Bloc Base Project</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
    <a class="navbar-brand" href="/tasks">Donezo</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/tasks">My Tasks</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/expiredtasks">Expired Tasks</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/completedtasks">Completed Tasks</a>
            </li>
        </ul>
    </div>
    
    <div class="pull-right" ng-controller="NavCtrl as nav">
        <span style="color:white;" ng-click="nav.testFunction()">{{nav.loggedInUser.email}}
            <button ng-controller="AuthCtrl as auth" ng-show="nav.loggedInUser" ng-click="auth.signOutUser()" style="cursor:pointer">Log Out</button></span>
    </div>
  
</nav>    


    <ui-view></ui-view>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    <!-- AngularUI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    
    <!-- FireBase -->
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
     
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    
    <!-- jQuery & Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/7b2437728b.js"></script>

    <!-- Application Files -->
    <script src="/scripts/app.js"></script>
    
    <!-- Firebase Config -->
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCBZlU-CdwskRVINUhIgk7yeFCO9m3rKPM",
        authDomain: "donezo-d8230.firebaseapp.com",
        databaseURL: "https://donezo-d8230.firebaseio.com",
        projectId: "donezo-d8230",
        storageBucket: "donezo-d8230.appspot.com",
        messagingSenderId: "468992471448"
      };
      firebase.initializeApp(config);
    </script>
    
    <!-- Services -->
    <script src="/scripts/services/Task.js"></script>
    <script src="/scripts/services/Auth.js"></script>
    <script src="/scripts/services/User.js"></script>

    
    <!-- Controllers -->
    <script src="/scripts/controllers/TaskCtrl.js"></script>
    <script src="/scripts/controllers/AuthCtrl.js"></script>
    <script src="/scripts/controllers/NavCtrl.js"></script>

    
    
</body>
</html>
