<div style="width: 100%;">

    <div style="width: 50%; border: 2px solid black;">

        <h1>Sign In</h1>

        Email: <input type="text" ng-model="auth.newEmail">
        Password: <input type="password" ng-model="auth.newPassword">

        <button ng-click="auth.signInUser()">Sign In</button>

    </div>

    <div style="width:50%;">
      Email: <input type="text" ng-model="auth.email">
      Password: <input type="password" ng-model="auth.password">

      <br><br>

      <button ng-click="auth.createUser()">Create User</button>

      <br><br>

      <button ng-click="auth.deleteUser()">Delete User</button>

      <p ng-if="message">Message: <strong>{{ message }}</strong></p>
      <p ng-if="error">Error: <strong>{{ error }}</strong></p>
    </div>
</div>