<div class="container main-content">
    <div class="card">
        <h3 class="card-header">Active Tasks</h3>
        <div class="card-body task-item" ng-repeat="task in tasks.allTasks" ng-hide="tasks.isExpired(task) || tasks.isCompleted(task)" ng-click="task.isVisible = !task.isVisible">
            <div ng-class="{'hiddenDesc': true, 'visibleDesc': task.isVisible}"></div>
            <div class="task-name">
                {{task.taskName}}
                <div ng-class="{'hiddenDesc': true, 'visibleDesc': task.isVisible, 'task-desc-text': true}">
                    test desc test desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desctest desc
                </div>
            </div>
            <!-- delete button now working -->
            <div class="task-buttons">
                <i class="fa fa-times fa-2x task-icon task-icon-delete" aria-hidden="true" ng-click="tasks.deleteTask(task)"></i>  <i class="fa fa-check fa-2x task-icon task-icon-complete" aria-hidden="true" ng-click="tasks.completeTask(task, $event)"></i>
            </div>
            <!-- <div class="description-tray">
                ~testing~
            </div> -->
        </div>
    </div>

    <div class="card task-card">
        <h5 class="card-header">Add A New Task</h5>
        <div class="card-body">
            <input type="text" placeholder="Enter task name..." class="form-field fill" ng-model="tasks.newTask" ng-keypress="tasks.checkKey($event)">
        </div>
        <div class="card-body">
            <input type="text" placeholder="Enter task description..." class="form-field fill" ng-keypress="tasks.checkKey($event)">
        </div>
        <div class="card-footer bg-primary text-white" ng-click="tasks.addTask()">
            Add Task
        </div>
    </div>
</div>
